/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

#cache do composer
.composer

#historico do bash dos containers
.bash_history

#banco de dados
docker/dbdata
docker/dumps

#npm
.npm
